.layout-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.layout-content {
  margin-left: 180px;
  padding: 20px;
  width: 100%;
  transition: margin-left 0.3s ease;
  background-color: #f8f9fa;
}

.sidebar.closed ~ .layout-content {
  margin-left: 80px;
}

.layout-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: var(--text-color-gray);
  position: relative;
}

.layout-title::after {
  content: '';
  position: absolute;
  width: 140px;
  height: 3px;
  border-radius: 30px;
  background-color: var(--primary-color);
  left: 0;
  bottom: -5px;
}
.layout-body {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
