.btn-default {
  background-color: var(--primary-color);
  transition: background 0.3s ease, color 0.3s ease;
  border: none;
  box-shadow: var(--box-shadow);
}

.btn-default:hover {
  background: var(--primary-light);
  color: #fff;
}